 /* Estilos base */

 /* Fuentes de google fonts */
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');

/* Fuente desde un archivo */
@font-face {
    font-family: 'Proxima Nova Rg';
    src: url(/files/proxima-nova-bold.otf);
}

 :root {
     /* Colores */
     --primary-color     : #2A8BF4;
     --primary-color-alt : #035DBF;
     --title-color       : #121F26;
     --text-color        : #676F73;
     --body-bg-color     : #FAFDFF;
     --white-color       : #FFFFFF;
     --color             : var(--primary-color);
     --color-alt         : var(--primary-color-alt);

     /* Fuentes */
     --body-font  : 'Open Sans', sans-serif;
     --title-font : 'Proxima Nova Rg', sans-serif;

     /* Anchura m치xima del contenido en desktop */
     --max-width : 1200px;

     /* Tama침os */
     --header-height     : 3rem;
     --section-spacing   : 4rem;
     --block-spacing     : 2rem;
     --body-line-height  : 1.6;
     --title-line-height : 1.3;

     /* Tama침os de fuentes */
     --h1-font-size     : 2rem;
     --h2-font-size     : 1.5rem;
     --h3-font-size     : 1.25rem;
     --h4-font-size     : 1rem;
     --big-font-size    : 1rem;
     --normal-font-size : 0.875rem;
     --small-font-size  : 0.75rem;
     --smaller-font-size: 0.6875rem;

     /* Capas */
     --z-back       : -10;
     --z-normal     : 1;
     --z-front      : 10;
     --Z-tooltip    : 20;
     --Z-overlay    : 30;
     --z-modal      : 40;
     --z-fixed      : 50;
     --z-off-canvas : 100;

     /* Otros */
     --border-radius: 0.5rem;
     --box-shadow   : 0 2px 2px rgba(36, 47, 66, 0.1);
 }

 @media screen and (min-width: 1024px) {
    /* Variables de tama침o en desktop */
    :root {
        --header-height     : 4rem;
        --section-spacing   : 8rem;
        --block-spacing     : 4rem;
        --h1-font-size      : 3rem;
        --h2-font-size      : 2rem;
        --h3-font-size      : 1.5rem;
        --h4-font-size      : 1.25rem;
        --big-font-size     : 1.25rem;
        --normal-font-size  : 1rem;
        --small-font-size   : 0.875rem;
        --smaller-font-size : 0.75rem;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - var(--header-height));
    color: var(--text-color);
    padding-top : var(--header-height);
    font-family : var(--body-font);
    font-size: var(--normal-font-size);
    line-height : var(--body-line-height);
    background-color : var(--body-bg-color);
}

a {
    color: var(--primary-color);
}

p {
    margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    color: var(--title-color);
    font-family: var(--title-font);
    line-height: var(--title-line-height);
    font-weight: 800;
}

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--h3-font-size);
}

h4 {
    font-size: var(--h4-font-size);
}

.main h1 {
    margin-bottom: var(--block-spacing);
    padding-top  : var(--block-spacing);
}

.content-wrapper {
    width       : calc(100% - 2rem);
    max-width   : var(--max-width);
    margin-left : 1rem;
    margin-right: 1rem;
}

@media screen and (min-width: 1024px) {
    .content-wrapper{
        width: 100%;
        margin-left : auto;
        margin-right: auto;
    }
}

.section-container {
    margin-bottom: var(--section-spacing);
}

.section-container h1,
.section-container h2 {
    text-align: center;
}

.image-container {
    width: 100%;
    height: 0;
    overflow: hidden;
    position: relative;
    padding-bottom: 56.25%;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

 .logo-text a {
     display: block;
     padding: 0.75rem 1rem;
     color: var(--primary-color);
     text-decoration: none;
     font-weight: 800;
     font-size: 2rem;
 }

 .logo-text a:hover {
     color: var(--color-alt);
 }

/*BOTONES*/

 .button {
     display: inline-block;
     padding: 0.75rem 1.25rem;
     border-radius: 1.5rem;
     text-decoration: none;
     font-weight: 600;
     color: var(--white-color);
     background: var(--color);
     border: 1px solid var(--color);
 }

 .button:hover {
     background: var(--color-alt);
 }

 .button.white {
     --color: var(--white-color);
     --color-alt: var(--body-bg-color);
     color: var(--primary-color);
 }

 .button.ghost {
     color: var(--color);
     background: transparent;
 }

 .button.ghost:hover {
     color: var(--white-color);
     background: var(--color);
 }

 .button.ghost.white:hover {
     color: var(--primary-color);
     background: var(--color);
 }

/* MENU PRINCIPAL*/

 .main-header {
     display: flex;
     position: fixed;
     top: 0;
     height: var(--header-height);
     width: 100%;
     background: var(--white-color);
     box-shadow: 0 3px 5px rgba(112, 126, 132, 0.1);
     z-index: var(--z-fixed);
 }

 .main-header .content-wrapper {
     display: flex;
     align-items: center;
 }

 .main-header .jam {
     margin-left: auto;
     color: var(--title-color);
     font-size: 2.5rem;
     cursor: pointer;
 }

 @media screen and (min-width: 1024px) {
     .main-header .jam {
         display: none;
     }
 }

 .main-header img {
     height: 2rem;
     /*width: 1.5rem;*/
 }

 @media screen and (min-width: 1024px) {
     .main-header img {
         height: 2.5rem;
         /*width: 2rem;*/
     }
 }

 .main-menu {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 @media screen and (min-width: 1024px) {
     .main-menu {
         margin-left: auto;
     }
 }

 @media screen and (max-width: 1024px) {
     .main-menu {
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         height: 100vh;
         background: var(--white-color);
         z-index: var(--z-off-canvas);
         transform: scale(0);
         transition: transform 0.25s;
         will-change: transform;
     }
 }

 .main-menu.active {
     transform: initial;
 }

 .main-menu ul {
     list-style: none;
     padding-left: 0;
     margin: 0;
 }

 @media screen and (min-width: 1024px) {
     .main-menu ul {
         display: flex;
     }
 }

 .main-menu .jam-close {
     position: absolute;
     right: 1rem;
     top: 0.5rem;
 }

 .main-menu a {
     display: block;
     padding: 0.75rem 1rem;
     color: var(--title-color);
     text-decoration: none;
     font-weight: 600;
 }

 .main-menu a:hover {
     color: var(--primary-color);
 }

 @media screen and (max-width: 1024px) {
     .main-menu a {
         text-align: center;
         font-size: var(--big-font-size);
     }
 }

 @media screen and (min-width: 1024px) {
     .main-menu ul li:last-of-type a {
         padding-right: 0;
     }
 }

/*BANNER PRINCIPAL*/

 .main-banner {
     background: var(--primary-color);
     padding: var(--section-spacing) 0;
 }

 /*.main-banner {*/
 /*    background: var(--primary-color);*/
 /*    padding: 2rem 0;*/
 /*}*/

 /*@media screen and (min-width: 1024px) {*/
 /*    .main-banner {*/
 /*        padding: 4rem 0;*/
 /*    }*/
 /*}*/

 @media screen and (max-width: 1024px) {
     .main-banner {
         text-align: center;
     }
 }

 .main-banner .content {
     display: grid;
     gap: 2rem;
 }

 @media screen and (min-width: 1024px){
     .main-banner .container {
         display: flex;
         flex-direction: column;
         justify-content: center;
     }

     .main-banner .container:last-of-type {
         align-items: center;
     }
 }

 @media screen and (min-width: 1024px){
     .main-banner .content {
         grid-template-columns: 1fr 1fr;
     }
 }

 .main-banner .title {
     color: var(--white-color);
     margin-bottom: 1rem;
 }

 @media screen and (min-width: 1024px) {
     .main-banner .title {
         text-align: left;
     }
 }

 .main-banner .subtitle {
     margin-bottom: 1.5rem;
     font-size: var(--big-font-size);
     color: var(--white-color);
     opacity: 0.7;
 }

 .main-banner .image {
     width: 80%;
     /*height: 80%;*/
 }

/* SERVICIOS*/

 .services-section .content-wrapper {
     display: grid;
     gap: 2rem;
     justify-content: center;
 }

 @media screen and (min-width: 1024px) {
     .services-section .content-wrapper {
         grid-template-columns: repeat(3, 1fr);
     }
 }

 .service-item {
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     max-width: 300px;
     margin: 0 auto;
 }

 .service-item .jam {
     margin-bottom: 1rem;
     color: var(--primary-color);
     font-size: 4rem;
 }

 .service-item h3 {
     margin-bottom: 0.5rem;
 }

 .service-item p {
     margin-bottom: 0;
 }

/* SOBRE NOSOTROS*/

 .about-section {
     position: relative;
     padding: var(--block-spacing) 0;
     background: var(--primary-color);
     color: var(--white-color);
     text-align: center;
 }

 .about-section .content-wrapper {
     position: relative;
     z-index: var(--z-front);
 }

 .about-section .title {
     color: var(--white-color);
 }

 .about-section p {
     opacity: 0.85;
     margin-bottom: 2rem;
 }

 .about-section .background {
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     object-fit: cover;
     z-index: var(--z-normal);
     opacity: 0.1;
 }

/*ULTIMOS PROYECTOS*/

 .last-projects {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .last-projects h4 {
     margin-bottom: 0.5rem;
     color: var(--white-color);
 }

 .last-projects p {
     margin-bottom: 0;
 }

 .last-projects .content-wrapper {
     display: grid;
     gap: 2rem;
     margin-bottom: var(--block-spacing);
 }

 @media screen and (min-width: 1024px) {
     .last-projects .content-wrapper {
         grid-template-columns: repeat(4, 1fr);
     }
 }

 .project-item {
     text-decoration: none;
     border-radius: var(--border-radius);
     box-shadow: var(--box-shadow);
     background: var(--primary-color);
     overflow: hidden;
 }

 .project-item:hover img {
     opacity: 0.1;
     will-change: opacity;
 }

 .project-item:hover article > div:first-of-type {
     opacity: 1;
 }

 .project-item article {
     position: relative;
 }

 .project-item img {
     transition: opacity 0.25s;
 }

 .project-item article > div:first-of-type {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     opacity: 0;
     color: var(--white-color);
     transition: opacity 0.25s;
     z-index: var(--z-front);
 }

/* TRABAJA CON NOSOTROS*/

 .work-with-us {
     text-align: center;
     margin-bottom: var(--block-spacing);
 }

 .work-with-us .title {
     margin-bottom: 1rem;
 }

 @media screen and (min-width: 1024px) {
     .work-with-us .title {
         margin-bottom: 1.5rem;
     }
 }

 .work-with-us .subtitle,
 .work-with-us .button {
     margin-bottom: 1.5rem;
 }

 @media screen and (min-width: 1024px) {
     .work-with-us .subtitle,
     .work-with-us .button {
         margin-bottom: 2rem;
     }
 }

/*REDES SOCIALES*/

 .social-networks a {
     padding: 0.25rem;
     color: var(--text-color);
     font-size: 1.25rem;
     text-decoration: none;
 }

 @media screen and (min-width: 1024px) {
     .social-networks a {
         font-size: 1.5rem;
     }

 }

 .social-networks a:hover {
     color: var(--primary-color);
 }

 .social-networks a:not(:last-of-type) {
     margin-right: 1.5rem;
 }

/*FOOTER*/

 .main-footer {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: auto;
     width: 100%;
     height: var(--header-height);
     /*background: var(--white-color);*/
     color: var(--white-color);
     background: var(--primary-color);
     font-size: var(--small-font-size);
 }

 .main-footer p {
     margin-bottom: 0;
 }

 /*QUIENES SOMOS*/

 .about-us .content-wrapper {
     display: grid;
     gap: var(--block-spacing);
     --max-width: 800px;
 }

 .about-item {
     display: grid;
     gap: 1.5rem;
     text-align: center;
 }

 .about-item > div:first-of-type {
     order: 2;
 }

 @media screen and (min-width: 1024px) {
     .about-item {
         grid-template-columns: 1fr 1fr;
         gap: 2rem;
         text-align: left;
     }

     .about-item:nth-child(odd) > div:nth-of-type(2) {
         order: 2;
     }
 }

 .about-item h2 {
     margin-bottom: 0.5rem;
 }

 @media screen and (min-width: 1024px) {
     .about-item h2 {
         text-align: left;
     }
 }

 .about-item p {
     margin-bottom: 0;
 }

 .about-item img {
     border-radius: var(--border-radius);
 }

 /*PROYECTOS*/

 .projects-section .content-wrapper {
     display: grid;
     gap: 2rem;
 }

 @media screen and (min-width: 680px) {
     .projects-section .content-wrapper {
         grid-template-columns: repeat(2, 1fr);
     }
 }

 @media screen and (min-width: 1024px) {
     .projects-section .content-wrapper {
         grid-template-columns: repeat(3, 1fr);
     }
 }

 .card-project {
     border-radius: var(--border-radius);
     overflow: hidden;
     box-shadow: var(--box-shadow);
 }

 .card-project a {
     text-decoration: none;
     font-weight: 600;
 }

 .card-project h3 {
     margin-bottom: 0.5rem;
 }

 .card-project p {
     margin-bottom: 1rem;
 }

 .card-project > div:nth-of-type(2) {
     padding: 1rem;
     background: var(--white-color);
 }

 /*CONTACTO*/
 .contact-section .content-wrapper {
     display: grid;
     gap: var(--block-spacing);
     text-align: center;
 }

 @media screen and (min-width: 1024px) {
     .contact-section .content-wrapper {
         --max-width: 800px;
         grid-template-columns: 1fr 1fr;
         text-align: left;
     }
 }

 .contact-section h4 {
     margin-bottom: 0.5rem;
 }

 .contact-section address {
     display: grid;
     gap: 1rem;
     font-style: normal;
 }

 @media screen and (min-width: 1024px) {
     .contact-section address {
         order: -1;
         gap: 2rem;
     }
 }

 .contact-item .jam {
     font-size: 1rem;
 }

 .map-ubication {
     width: 100%;
     height: 200px;
     overflow: hidden;
     border-radius: var(--border-radius);
 }



















































